@mixin typography() {

    h1 {
      font-size: clamp(50px, 4vw, 130px);
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 1.2;
    }

    //57px
    h2 {
      font-size: clamp(30px, 3vw, 90px);
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    //34
    h4 {
      font-size: clamp(24px, 1.77vw, 40px);
      font-weight: 400;
      letter-spacing: 0.25px;
      &.bold {
        font-weight: 700;
      }
    }
    //23px
    h5 {
      font-size: clamp(20px,1.2vw, 30px);
      font-weight: 400;
      &.bold {
        font-weight: 700;
      }
    }
      //20px
    h6 {
      font-size: clamp(18px,1.05vw, 26px);
      font-weight: 400;
      &.bold {
        font-weight: 700;
      }
    }
    //16px
    .body {
      font-size: clamp(16px,0.83vw, 26px);
      font-weight: 400;
      line-height: 22px;
      &.bold {
        font-weight: 700;
      }
    }

    //14px
    .subtitle {
      font-size: clamp(14px,0.73vw, 18px);
      font-weight: 400;
        &.bold {
        font-weight: 700;
      }
    }
    //12px
    .caption {
      font-size: 12px;
      font-size: clamp(12px,0.625vw, 16px);
      font-weight: 400;
    }
}
