@use 'core';
@use 'palettes' as pal;
@use 'theme';
@use 'typography';
@use "@angular/material" as mat;

@include core.go();
@include theme.go(pal.$primary, pal.$accent, true);
@include typography.typography();

.blue-theme {
    @include theme.go(mat.$blue-palette, pal.$accent, true);
}

.green-theme {
    @include theme.go(mat.$green-palette, pal.$accent, true);

}


p.firebase-emulator-warning {
    display: none;
}

.mat-mdc-menu-panel.the-menu {
    .mat-mdc-menu-content {
        background-color: var(--p-500);
        border: 1px solid var(--p-800);
        display: flex;
        flex-direction: column;
    }
}
